<a href="https://colab.research.google.com/github/mo7emmed/mo7emmed/blob/main/Cognitive_Class_Course_Module_3_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Module Three**

In [ ]:
# Conditions
release_date1 = 1982
if (release_date1 > 1980) and (release_date1 < 1990):
  print ("the album is in the 80s")
elif release_date1 == 1980:
  print ("the album is printed in 1980")
else:
    print ("the album is not available")

the album is in the 80s

Enumerate is a function used to iterate over a sequence of items in a list, a tuple or a string.

In [ ]:
fruits = ['apple', 'banana', 'orange', 'pineapple']
for i, b in enumerate(fruits):
  print (i, b)

0 apple
1 banana
2 orange
3 pineapple

In [ ]:
for i, b in enumerate(fruits, 1):
  if b == 'orange':
    print (i, b)

3 orange

In [ ]:
for i, b in enumerate(fruits, 1):
  if i > 3:
    print ("the cart exceeds the orders count")
  else: print (i, b)

1 apple
2 banana
3 orange
the cart exceeds the orders count

In [ ]:
for i in fruits:
  print (i, i == "banana" or i == "orange")

apple False
banana True
orange True
pineapple False

In [ ]:
for i, b in enumerate(fruits):
  fruits[i] = "deleted"
fruits

['deleted', 'deleted', 'deleted', 'deleted']

In [ ]:
employees = ['ali', 'ahmed', 'john', 'raul', 'brown', 'ziyad', 'smith', 'mahdi']
applicants = ['ali', 'ahmed', 'abd', 'murtadha', 'smith', 'mahdi', 'josh', 'raul']

In [ ]:
len(employees)

8

In [ ]:
len(applicants)

8

In [ ]:
common_list = []
for i in employees:
  for b in applicants:
    if i == b:
      common_list.append(i)
common_list

['ali', 'ahmed', 'raul', 'smith', 'mahdi']

In [ ]:
people = []
i = 0
while i < len(employees):
  for b in employees:
    if b == applicants[i]:
      people.append(applicants[i])
  i+=1
people

['ali', 'ahmed', 'smith', 'mahdi', 'raul']

In [ ]:
common = []
a = 0

while a < len(employees):
  b = 0
  while b < len(employees):
    if employees[a] == applicants [b]:
      common.append(employees[a])
    b+=1
  a+=1
common

['ali', 'ahmed', 'raul', 'smith', 'mahdi']

In [ ]:
a = set(applicants) & set(employees)
a = list(a)
a

['ali', 'ahmed', 'raul', 'smith', 'mahdi']

Collections are sets and dictionaries.
Sequences are lists, tuples and strings.

Asterisks preceding function variables make room for several variables inside parentheses if the function is applied.

One asterisk allows unspecified number of non-keyworded variables (any variable whose key is unnamed, but its value is assigned, like variables in lists, tuples). Two asterisks on the other hand allow unspecified number of keyworded variables (variables with declared keys and values, like dictionaries).

Examples are:

In [ ]:
# * is usually referred to as args (short for 'arguments')
def add(*args):
  x = sum(args)
  return x

In [ ]:
add(1,4,7,8)

20

In [ ]:
def add2(*args):
  sum = 0
  for i in args:
    sum += i
  return sum

In [ ]:
add(3,5,1,90)

99

In [ ]:
# kwargs is a short for keyworded arguments
def grocery_items(**kwargs):
  total = 0
  item = []

  for keys, values in kwargs.items():
    total += values
    item.append(keys)

  # removing the list brackets and apostrophes (for a friendlier look)
  st_item = str(item)
  st_item = st_item[1:-1]
  st_item = st_item.replace("'", "")

  # adding "and" before the last item
  r_st = st_item[::-1]      # reversing the string to find (locate) the last space
  space = r_st.find(" ")
  r_st = r_st[:space] + " dna" + r_st[space:]
  st_item = r_st[::-1]

  print ("the total price of", st_item, "is", total)
  return total

In [ ]:
grocery_items(tomato=2000, potato=3000, orange=7000, mango=3000)

the total price of tomato, potato, orange, and mango is 15000

15000

In [ ]:
grocery_items(bananas = 4561, cucumber = 3200, figs = 7200, cauliflower = 4000)

the total price of bananas, cucumber, figs, and cauliflower is 18961

18961

In [ ]:
def shop_items(**kwargs):
  total = 0
  item = []
  item.append(['',''])      # to ignore 0 in the list
  for keys, values in kwargs.items():
    total += values
    item.extend([[keys, values]])
  
  item.append(['----------','----------'])
  item.append(['total', total])

  import pandas as pd
  df = pd.DataFrame(item, columns = ['item', 'price'])
  df = df.drop(df.index[0])

  print (df)

In [ ]:
shop_items(bananas = 4561, cucumber = 3200, figs = 7200, cauliflower = 4000, orange = 5200, lettuce = 4000)

          item       price
1      bananas        4561
2     cucumber        3200
3         figs        7200
4  cauliflower        4000
5       orange        5200
6      lettuce        4000
7   ----------  ----------
8        total       28161

In [ ]:
p = ['n', 'd']
m=str(p)
print(p)
print(m)
print(type(p))
print(type(m))

['n', 'd']
['n', 'd']
<class 'list'>
<class 'str'>

In [ ]:
m=m.replace("['","")
m

"n', 'd']"

In [ ]:
m = 'hello'
m[::-1]
m.find('l')
n=m[:3]+'i'+m[3:]
n

'helilo'

In [ ]:
def f(*x):
  return sum(x)

c = f(3,4,6)
type(c)

int

Classes are the same as types. We create classes to predefine objects attributes in order to deal with them easily. Classes are like molds of structures holding information in a predefined way.

Classes consist of attributes (class main body and structure) and functions (methods for class modification)

In [ ]:
class circle (object):
  def __init__ (self, radius, color):
    self.radius = radius
    self.color = color

  def add_r(self, r):
    self.radius = self.radius + r
    return (self.radius)

In [ ]:
c1 = circle(30,'brown')
c1.radius

30

In [ ]:
c1.add_r(3)
c1.radius

33

In [ ]:
class dicount (object):
  def __init__ (self, amount):
    self.amount = amount

  def d_price (self):
    t = "your price after discount is:"
    if self.amount > 9999:
      print ("you could buy a lamborghini with that! 😉")
    elif self.amount > 3499:
      print (t, round(self.amount*0.65))
    elif self.amount > 1999:
      print (t, round(self.amount*0.75))
    elif self.amount > 999:
      print (t, round(self.amount*0.90))
    elif self.amount > 499:
      print (t, round(self.amount*0.95))
    else:
      print ("sorry, you didn't reach the dicount threshold. try saving more by buying more!")

In [ ]:
order1 = dicount(788)
order1.d_price()

your price after discount is: 749

In [ ]:
order2 = dicount (9880)
order2.d_price()

your price after discount is: 6422

In [ ]:
class car (object):
  def __init__ (self, make, model, color):
    self.make = make
    self.model = model
    self.color = color

In [ ]:
car1 = car ('honda', 'accord', 'blue')

In [ ]:
car1.color

'blue'

Note that you can recall the attribute while creating a new object. by recalling the attribute you can also change the order of the attributes. for example, you can assign the color attribute first as shown below:

In [ ]:
car2 = car (color = 'purple', model = 1990, make = 'dali')

In [ ]:
car2.color

'purple'