<a href="https://colab.research.google.com/github/mo7emmed/mo7emmed/blob/main/Statistics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
income = [[1000, 2500], [8000, 1200], [10000, 500000], [5000, 6000], [8640, 90065], [8990, 655490]]

In [12]:
# count year income
for i in range(6):
  income[i][1] = income[i][0]*12

In [11]:
income

[[1000, 12000],
 [8000, 96000],
 [10000, 120000],
 [5000, 60000],
 [8640, 103680],
 [8990, 107880]]

In [ ]:
import pandas as pd

In [ ]:
df_income = pd.DataFrame(income, columns=['m_income', 'y_income'])

In [ ]:
df_income

   m_income  y_income
0      1000     12000
1      8000     96000
2     10000    120000
3      5000     60000
4      8640    103680
5      8990    107880

In [ ]:
s= df_income.m_income.quantile(.7)
new = df_income
for i, m in enumerate(df_income.m_income):
  if m >= s:
    new = new.drop(df_income.index[i]) 
new.sort_values(by= ['m_income'])

   m_income  y_income
0      1000     12000
3      5000     60000
1      8000     96000
4      8640    103680

In [ ]:
new.m_income.mean

<bound method NDFrame._add_numeric_operations.<locals>.mean of 0    1000
1    8000
3    5000
4    8640
Name: m_income, dtype: int64>

In [ ]:
df_income.describe()

           m_income       y_income
count      6.000000       6.000000
mean    6938.333333   83260.000000
std     3365.319698   40383.836371
min     1000.000000   12000.000000
25%     5750.000000   69000.000000
50%     8320.000000   99840.000000
75%     8902.500000  106830.000000
max    10000.000000  120000.000000

In [ ]:
df_income.quantile(0.25)

m_income     5750.0
y_income    69000.0
Name: 0.25, dtype: float64

In [ ]:
no_outlier_income = df_income[df_income < df_income.quantile(0.99)]
no_outlier_income

   m_income  y_income
0    1000.0   12000.0
1    8000.0   96000.0
2       NaN       NaN
3    5000.0   60000.0
4    8640.0  103680.0
5    8990.0  107880.0

In [ ]:
no_outlier_income.sort_values(by=['m_income'])

   m_income  y_income
0    1000.0   12000.0
3    5000.0   60000.0
1    8000.0   96000.0
4    8640.0  103680.0
5    8990.0  107880.0
2       NaN       NaN

In [ ]:
no_monthly = no_outlier_income.m_income
no_monthly

0    1000.0
1    8000.0
2       NaN
3    5000.0
4    8640.0
5    8990.0
Name: m_income, dtype: float64

In [ ]:
no_monthly.sort_values()

0    1000.0
3    5000.0
1    8000.0
4    8640.0
5    8990.0
2       NaN
Name: m_income, dtype: float64

Reduced Echelon Form (REF):
Row Operation Example:
solving x1,x2 values:

In [ ]:
import numpy as np
e = np.array ([[1,2], [4,6]])
u = np.array ([-3, 2])
f = np.dot(e,u)
f

array([1, 0])

In [ ]:

def findxy (x,y,c,x1,y1,c1):
  global rx, ry
  for i in range (-100,100):
    if i*x+x1 == 0:
      x1 = 0
      y1 = i*y+y1
      c1 = i*c+c1
      ry = c1/y1
      rx = c-ry*y

  if ry%1 == 0:
    ry = int(ry)
  if rx%1 == 0:
    rx = int (rx)
  print ("x =", rx, " y =", ry)

In [ ]:
def isvalid ():
  if x*rx+y*ry == c:
    print ("the matrix is valid")
  else: print ("the matrix is invalid")

In [ ]:
x = 1; y = 2; c = 2; x1 = 4; y1 = 6; c1 = 5

In [ ]:
findxy (x, y, c, x1, y1, c1)

x = -1  y = 1.5

In [ ]:
x*rx+y*ry

2.0

In [ ]:
isvalid()
print (rx)

the matrix is valid
-1

In [ ]:
print(rx)

-1